@font-face {
  font-family: Amiamie;
  src: url(Amiamie-BlackRound.woff2);
}

*{
    box-sizing: border-box; /* pour que les padding et margin ne modifient pas la taille de l'élément */
}

body{
    background-color: rgb(255, 255, 255);
    font-family:  Helvetica, sans-serif;
    margin: 0; /* pour éviter les marges par défaut du navigateur */
    line-height: 1.5; /* hauteur de ligne pour la lecture à l'écran*/
}

h1{
  font-family: Amiamie, Arial;
  color: black;
}
img{
    max-width: 100%; /* pour que les images ne dépassent pas de leur conteneur */
    height: auto; /* pour garder le ratio de l'image */
}

figure{
    margin: 0; /* pour éviter les marges par défaut du navigateur */
}

.header{
  display: grid; /* pour pouvoir utiliser grid-template-columns */
  grid-template-columns: max-content max-content; /* 2 colonnes de largeur minimale */
  justify-content: space-between; /* pour espacer les éléments */
  align-items: center; /* pour centrer verticalement */

  padding:0 30px; 
  position: sticky; /* pour que le header reste en haut de la page */
  top:0; /* pour que le header reste en haut de la page */
  background-color: rgba(255, 255, 255, 0.8); /* Add a white strip with some transparency */
  backdrop-filter: blur(6px); /* pour flouter le background */
  z-index: 999; /* repeindre */
}

.header h1{
  margin: 6px 0; /* pour éviter les marges par défaut du navigateur */
  margin-top: 35px;
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 10px;
  
}
.header a{
  color:#3b5325;
}

.header-nav{
  display: grid;
  grid-template-columns: repeat(3, max-content); /* Change to 3 columns */
  gap:0 24px ;

 
}

.header-nav a{
  color:#173f07;
  text-decoration: none;
  margin-right: 35px;
}

.header-nav a:hover {
  background: linear-gradient(90deg, #baf29b, #d7f7b7
  );
  background-size: 200px; /* pour définir la largeur du dégradé */
  -webkit-background-clip: text; /* pour que le dégradé soit visible dans le texte */
  background-clip: text; /* pour que le dégradé soit visible dans le texte */
  color: transparent; /* pour que le texte soit transparent */
  animation: rainbow 1s linear infinite; /* pour animer le dégradé */
}

@keyframes rainbow {
  0% { background-position:  0 0; }
  100% { background-position: 200px 0; }
}

.header h1 a:hover {
  background: linear-gradient(90deg, #baf29b, #d7f7b7);
  background-size: 200px; /* Define the width of the gradient */
  -webkit-background-clip: text; /* Make the gradient visible in the text */
  background-clip: text; /* Make the gradient visible in the text */
  color: transparent; /* Make the text transparent */
  animation: rainbow 1s linear infinite; /* Animate the gradient */
}

@keyframes rainbow {
  0% { background-position: 0 0; }
  100% { background-position: 200px 0; }
}

.apropos {
  width: 10px; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
  max-width: 50%; /* Ensure it does not exceed the container width */
}

.projets{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  /* Responsive column count notes:
     - 320px -> 1 élément
     - 480px -> 2 éléments
     - 720px -> 3 éléments */
  gap: 24px;
  padding: 24px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.projet {
  margin-top: 5px;
  margin-bottom: 40px; /* Add margin to the bottom of each project item */
  
}

.projet img {
  width: 450px; /* Set the desired width */
  height: 450px; /* Set the desired height */
  object-fit: cover; /* Ensure the image covers the entire area without distortion */
  margin-bottom: 6px;
}



.projet h2 {
  font-size: 24px;
  color:#395032;
  font-weight: 400;
  font-family: Amiamie, arial;
  margin: 0;
  text-align: center;
}

.projet h2 a {
  text-decoration: none !important; /* Remove underline from links */
  border-bottom: none;
  color: inherit; /* Inherit color from parent element */
}

h2:hover {
  background: linear-gradient(90deg, #baf29b, #d7f7b7);
  background-size: 200px; /* Define the width of the gradient */
  -webkit-background-clip: text; /* Make the gradient visible in the text */
  background-clip: text; /* Make the gradient visible in the text */
  color: transparent; /* Make the text transparent */
  animation: rainbow 1s linear infinite; /* Animate the gradient */
}

@keyframes rainbow {
  0% { background-position: 0 0; }
  100% { background-position: 200px 0; }
}

.page-projet h2 {
  font-size: 32px;
  color: #395032;
  font-weight: 400;
  font-family: Amiamie, arial;
  margin: 0;
  
  
}

a {
  text-decoration: none !important;
}
 



.change-image img {
  transition: all 0.3s ease;
}
.change-image:hover img {
  content: url('img/mockups01.jpg'); /* Replace 'new-image.jpg' with the path to your new image */
}

.change-image8 img {
  transition: all 0.3s ease;
}
.change-image8:hover img {
  content: url('img/constel_2.jpg'); /* Replace 'new-image.jpg' with the path to your new image */
}

.change-image2 img {
  transition: all 0.3s ease;
}
.change-image2:hover img {
  content: url('img/456_2.jpg'); /* Replace 'new-image.jpg' with the path to your new image */
}

.change-image3 img {
  transition: all 0.3s ease;
}
.change-image3:hover img {
  content: url('img/Portrait\ 10.jpg'); /* Replace 'new-image.jpg' with the path to your new image */
}

.change-image7 img {
  transition: all 0.3s ease;
}
.change-image7:hover img {
  content: url('img/serig\ papier.jpg'); /* Replace 'new-image.jpg' with the path to your new image */
}

.change-image4 img {
  transition: all 0.3s ease;
}
.change-image4:hover img {
  content: url('img/project\ 1_2.jpg'); /* Replace 'new-image.jpg' with the path to your new image */
}

.change-image6 img {
  transition: all 0.3s ease;
}
.change-image6:hover img {
  content: url('img/lumiere_1.2.jpg'); /* Replace 'new-image.jpg' with the path to your new image */
}

.change-image5 img {
  transition: all 0.3s ease;
}
.change-image5:hover img {
  content: url('img/new\ jeans\ logo.jpg'); /* Replace 'new-image.jpg' with the path to your new image */
}

.change-image9 img {
  transition: all 0.3s ease;
}
.change-image9:hover img {
  content: url('img/vagues2.jpg');
}



.page-projet{
  display: grid;
  max-width: 1032px; /* 480*2+24(gap) + 24+24(padding droite + gauche) */
  margin: 0 auto;
  background: #fff;
  grid-template-columns: 1fr 1fr;
  gap: 90px;
  padding: 24px;
  justify-content: center;
  border-radius: 8px;
   
align-items: top;

padding-top: 24px;
  margin-bottom: 24px;
  margin-left: 100px; /* Increase this value to make the left margin bigger */
  margin-right: 100px; /* Increase this value to make the right margin bigger */
}

.page-projets .description{
  display: grid;
  grid-column: 1/2;
  max-width: 100%;
  width: 800px;
  font-size: 24px;
  color: #395032;
  font-weight: 400;
  font-family: Amiamie, arial;
  margin: 24px;
  text-align: center;
  justify-content: right;

 }

 .description p {
  font-size: 20px;
  color: #395032;
  font-weight: 400;
  font-family: Helvetica, Arial;
  margin: 0;
  padding-top: 24px;
  align-content: center;

  }

.projet-data{
  align-self: end; /* pour aligner les éléments en bas dans la grille parent !!! */

  display: grid;
  grid-template-columns: max-content 1fr ;
  margin-bottom: 12px;
 

}

.projet-data>*{
  margin: 0;
  padding-right: 12px;
  font-size: 1em;
  line-height: 3em;
  border-bottom: 1px solid #ddd;
}

.images{
  display: grid;
  gap: 24px;
  margin-top: 24px;
  width: 600px;
  height: auto;
}

.images affiches{
  display: grid;
  gap: 24px;
  margin-top: 24px;
  width: 300px;
  height: auto;
}

@media (min-width: 500px){
  .xl{
    grid-column: span 2;
  }
}

/* gros level */
.projets{
  /* flow */
  grid-auto-flow: row dense;
}


@media (min-width: 960px){
  .projet-xl{
    grid-column: span 2;
    grid-row: span 2;
  }
}

.page-projet img{
  max-width: 100%;
  height: auto;
}

/* fx javascript */
.projet{
  opacity: 1;
  transition: opacity 0.8s ease;
}
.projet.unactive{
  opacity: 0.5;
  /* filter: grayscale(1); */
  z-index: -1;
}